{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<div class="indexNav">
    <div class="pushLeft">
    <h1 class style="color: rgb(209, 148, 74);"="center">Hello! welcome to Mahagony library</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="pushLeft">
    <p style="color:rgb(239, 232, 183);">please choose an option from the navigation bar above</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

{%endblock%}
{%block footer%}{{super()}}{%endblock%}